
/*
Somewhat Bioconductor-styled CSS for xaringan slides
Author: Federico Marini
Updated: 2018-05-30
*/


body {
  color: #070707; /* #585E60 */
}

h1, h2, h3 {
  font-weight: normal;
  color: #0092AC; /* bioc-like */
}

a, a > code {
  color: #1a81c2; /* also bioc-like, different col */
  text-decoration: none;
}

.remark-code {
  color: #1a81c2;
}

.remark-inline-code {
  color: #1a81c2;
}

.remark-code-line-highlighted {
  background-color: rgba(026, 129, 194, 0.4); /* same as #1a81c2 with alpha */
}

.inverse {
  background-color: #0092AC;
  color: #FFFFFF;
  /*text-shadow: 0 0 20px #333;*/
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #FFFFFF;
  line-height: 1.0em;
}

.inverse a {
  color: #FFFFFF;
  text-decoration: none;
}

/* .inverse h2 {
  font-family: 'Sofia';
  line-height: 1.1;
} */

.inverse .remark-inline-code {
  color: white;
}


/* Two-column layout, left as in Alison's */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }

.title-slide {
  background-image: url('../images/CTH-UM-Logo.png'); /* if I want to put a logo */
  background-position: 95% 95%;
  background-size: 200px;
  background-color: #FFFFFF;
}

.title-slide h1 {
  text-shadow: none;
  color: #070707;
  font-size: 60px;
}

.title-slide h2 {
  text-shadow: none;
  color: #070707;
  font-size: 35px;
}

.title-slide h3 {
  text-shadow: none;
  color: #070707; /* or also #0092AC */
  font-size: 30px;
}


/*
.title-slide h1 {
  color: #5E97C9;
  padding-top: 250px;
  font-size: 50px;
  line-height: 0.05;
  text-align: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
  text-shadow: none;
  word-wrap: break-word;
}

.title-slide h2 {
  color: #5E97C9;
  font-size: 35px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
  text-shadow: none;
  font-family: 'Sofia';
}

.title-slide h3 {
  font-size: 30px;
  color: #5E97C9;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.1;
}
*/

/* slide numbers appearance */

.title-slide .remark-slide-number {
  display: none;
}

.remark-slide-number {
  display: none;
}


